.weather_details_overflow {
  max-width: 1000px; //This is excessively large because its exclusive to the weather closing section.
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
