.hero-unit {
  background: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;

  img {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.icon-small {
  border-radius: 5px;
  color: white;
}

.icon-extra-large,
.icon-large {
  border-radius: 10px;
  color: #ebebeb;
  padding: 20px;
}

.icon-success,
.icon-open,
.icon-operating {
  background: green;
}

.icon-success:before,
.icon-open:before,
.icon-operating:before {
  content: "\f00c";
}

.icon-success.icon-small,
.icon-open.icon-small,
.icon-operating.icon-small {
  padding: 5px 7px;
}

.icon-closed,
.icon-cancelled,
.icon-canceled {
  background: red;
  padding: 5px 12px;
}

.icon-closed:before,
.icon-cancelled:before,
.icon-canceled:before {
  content: "\f00d";
}

.icon-closed.icon-extra-large,
.icon-cancelled.icon-extra-large,
.icon-closed.icon-large,
.icon-cancelled.icon-large {
  padding: 10px 20px;
}

.icon-modified {
  color: goldenrod;

  &:before {
    content: "\f071";
  }
}

.icon-external,
.icon-seewebsite {
  color: #002280;
}

.icon-external:before,
.icon-seewebsite:before {
  content: "\f08e";
}

.icon-modified.icon-small,
.icon-external.icon-small {
  font-size: 2.5em;
}

.closings {
  margin-bottom: 40px;
}

.county-closings-image-container {
  text-align: center;
}

/*jQuery Datatable Specific Code*/

table.dataTable thead {
  th,
  td {
    text-align: left;
  }
}

.dataTables_wrapper .dataTables_filter {
  background: #ebebeb;
  float: none;
  padding: 20px;
  text-align: left;

  input {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .closings {
    /*margin-bottom: 0;*/
  }

  table.dataTable {
    font-size: 16px;

    tr.canceled,
    tr.closed {
      background-color: $red-lightest;
    }

    tr.open,
    tr.operating {
      background-color: $green;
    }

    tr.modified {
      background-color: $gold-lightest;
    }
  }
}
