@mixin default-focus-state {
  outline: 2px solid $blue-lightest;
  outline-offset: 3px;
}

a,
button,
a i,
button i {
  @include default-transition(color, background, border);
}

select:focus,
select.focused,
input:focus,
input.focused,
textarea:focus,
textarea.focused,
button:focus,
button.focused,
a:focus,
a.focused {
  @include default-focus-state;
}

:disabled,
.disabled {
  cursor: not-allowed;
}
