body {
  font-family: $default-body-font;
  font-size: $base-font-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 900;
}

p {
  color: $gray-dark;
  font-size: $base-font-size;
  font-family: $default-body-font;
  margin-bottom: $default-margin;
}

a {
  color: $blue;

  &:hover,
  &:focus,
  &.hovered,
  &.focused {
    color: $vibrant-blue;
  }

  &:active,
  &.active {
    color: $pale-blue;
  }

  &:disabled,
  &.disabled {
    color: $pale-blue-lightest;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.dg_icon-button {
  color: $black;
  font-family: $default-heading-font;
  font-weight: $font-bold;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: $default-margin;
}

h1 {
  font-size: $h1-font-size;
  letter-spacing: 5px;
  margin-bottom: $margin-large;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4,
h5,
h6 {
  font-size: $small-heading-font-size;
}

@media screen and (max-width: $medium-breakpoint) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .dg_icon-button {
    margin-bottom: $default-margin / 2;
  }

  h1 {
    margin-bottom: $margin-large / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
}
