.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  a {
    color: $white;

    &:hover,
    &:focus,
    &.hovered,
    &.focused {
      color: $blue-lightest;
    }

    &:active,
    &.active {
      color: $white;
    }

    &:disabled,
    &.disabled {
      color: $gray-light;
    }
  }
}

.dg_section {
  &.dark {
    .dg_onepg-hdr-h2 {
      border-bottom: none !important;
    }
  }
}
