@import "node_modules/bootstrap/scss/mixins/deprecate";
@import "node_modules/bootstrap/scss/mixins/hover";
@import "node_modules/bootstrap/scss/mixins/text-truncate";
@import "node_modules/bootstrap/scss/mixins/text-emphasis";
@import "node_modules/bootstrap/scss/mixins/text-hide";
@import "node_modules/bootstrap/scss/utilities/text";

/*Margin Bottom*/
.mb--smallest {
  margin-bottom: $margin-smallest;
  }

.mb--small {
margin-bottom: $margin-small;
}

.mb--default {
  margin-bottom: $default-margin;
}

.mb--large {
  margin-bottom: $margin-large;
}

.mb--larger {
  margin-bottom: $margin-larger;
}

.mb--largest {
  margin-bottom: $margin-largest;
}

/*Margin Left*/

.ml--smallest {
  margin-left: $margin-smallest;
  }

.ml--small {
  margin-left: $margin-small;
}

.ml--default {
  margin-left: $default-margin;
}

.ml--large {
  margin-left: $margin-large;
}

.ml--larger {
  margin-left: $margin-larger;
}

.ml--largest {
  margin-left: $margin-largest;
}

/*Margin Right*/

.mr--smallest {
  margin-right: $margin-smallest;
  }

.mr--small {
  margin-right: $margin-small;
}

.mr--default {
  margin-right: $default-margin;
}

.mr--large {
  margin-right: $margin-large;
}

.mr--larger {
  margin-right: $margin-larger;
}

.mr--largest {
  margin-right: $margin-largest;
}

/*Margin Top*/

.mt--smallest {
  margin-top: $margin-smallest;
  }

.mt--small {
  margin-top: $margin-small;
}

.mt--default {
  margin-top: $default-margin;
}

.mt--large {
  margin-top: $margin-large;
}

.mt--larger {
  margin-top: $margin-larger;
}

.mt--largest {
  margin-top: $margin-largest;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow-y: auto !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-fixed {
  table-layout: fixed;
}
