@import "node_modules/bootstrap/scss/mixins/deprecate";
@import "node_modules/bootstrap/scss/mixins/hover";
@import "node_modules/bootstrap/scss/mixins/text-truncate";
@import "node_modules/bootstrap/scss/mixins/text-emphasis";
@import "node_modules/bootstrap/scss/mixins/text-hide";
@import "node_modules/bootstrap/scss/utilities/text";

/*Margin Bottom*/
.mb--smallest {
  margin-bottom: $margin-smallest;
}

.mb--small {
  margin-bottom: $margin-small;
}

.mb--default {
  margin-bottom: $default-margin;
}

.mb--large {
  margin-bottom: $margin-large;
}

.mb--larger {
  margin-bottom: $margin-larger;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow-y: auto !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-fixed {
  table-layout: fixed;
}
