#BACO_table {
    @extend .table;

    th {
        border-left: none;
        border-bottom: $border-width-large solid $blue;
        font-family: $default-heading-font;
        font-size: $small-heading-font-size;
    }

    #Next {
        @extend .dg_button;
    }

    #Previous {
        @extend .dg_button-link;
    }


}

#phoneDirForm {
    #submit {
        margin-right: $default-margin;
    }
}

#Next {
    @extend .dg_button;
}

#Previous {
    @extend .dg_button-link;
}