.SEBlogViewPagingArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: inherit;
  justify-content: flex-start;
  width: 100%;
  .SEBlogViewPagingPrev {
    margin-right: 30px;
    a {
      @extend .dg_button;
    }
  }
  .SEBlogViewPagingNext {
    margin-right: 30px;
    a {
      @extend .dg_button;
    }
  }
}
