.dg_sidebar {
  margin-bottom: $margin-larger;
}

.dg_sidebar__section {
  border-top: $border-width-large $gray-light solid;
  margin-bottom: $margin-larger;
  overflow-wrap: break-word;
  word-wrap: break-word;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  p {
    font-family: $default-heading-font;
    font-size: $smallest-heading-font-size;
  }

  .dg_sidebar__content {
    padding: $padding-small $padding-large;
  }

  .dg_sidebar__content_gray {
    background-color: $gray-lightest;
    padding: $padding-small $padding-large;
  }

  h2 {
    border: none;
    color: $gray-dark;
    letter-spacing: 10px;
    font-weight: $font-bold;
    font-size: $small-heading-font-size;
    padding-top: $padding-large;
  }

  p {
    line-height: 30px;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_sidebar:first-of-type {
    margin-top: $margin-larger;
  }
}
