.dg_sidebar {
  margin-bottom: $margin-larger;
  .dg_sidebar__section {
    border-top: $border-width-large $gray-light solid;
    margin-bottom: $margin-larger;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    li,
    p {
      font-family: $default-heading-font;
      font-size: $smallest-heading-font-size;
      margin: $default-margin 0;
    }

    h2 {
      border: none;
      letter-spacing: 10px;
      font-weight: $font-bold;
      font-size: $small-heading-font-size;
    }

    p {
      line-height: 30px;
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_sidebar:first-of-type {
    margin-top: $margin-larger;
  }
}
