.accepted-materials-key {
    border-top: $default-border-width dotted $gray-light;
    padding-top: $padding-large;

    .fa-ban {
        color: $red;
    }

    .fa-recycle {
        color: $vibrant-green;
    }

    .fa-trash-alt {
        color: $pale-blue;
    }

    .fa-truck {
        color: $gray;
    }

    + #BACO_table_wrapper {
        .fas {
            margin-bottom: $margin-large;
        }
    }
}