.dg_accordion {
  text-align: right;
  margin: $default-margin 0px;

  p,
  ul {
    font-family: $default-heading-font;
    font-size: $smallest-heading-font-size;
    font-weight: $font-normal;
  }
}

.dg_accordion_buttonall-container {
  display: flex;
  justify-content: flex-end;
}

.dg_button-link.dg_allitems {
  margin-bottom: $margin-small;
}

.dg_accordion__collapsible {
  color: $blue;
  font-family: $default-heading-font;
  font-size: $h2-font-size;
  font-weight: $font-bold;
  width: 100%;
  margin-bottom: $border-width-small;

  &:last-child {
    border-bottom: $border-width-small $gray solid;
  }

  &:hover {
    color: $vibrant-blue;
  }

  .dg_accordion_buttontext-holder {
    margin-left: $margin-largest;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    margin-bottom: 0px;
  }

  .dg_accordion__subheader {
    font-size: $smallest-heading-font-size;
    font-weight: $font-medium;
    color: #ffffff;
    margin-left: $margin-largest;
    padding-top: $padding-small;
    text-transform: none;
  }

  .dg_accordion-item-body {
    text-align: left;
    font-size: $smallest-heading-font-size;
    font-weight: $font-medium;
    padding: $default-padding;
    letter-spacing: 0;
    color: $gray-dark;
    text-transform: none;
    border: $border-width-small solid #002278;
  }

  .dg_accordion-btn {
    background-color: #002280;
    color: #ffffff;
    position: relative;
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    height: auto;
    font-family: $default-heading-font;
    font-size: $small-heading-font-size;
    font-weight: $font-bold;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus-within {
      .dg_accordion_buttontext-holder {
        @include default-focus-state;
      }
    }

    &:before {
      position: absolute;
      padding-top: $padding-small;
      padding-bottom: $padding-small;
      font-size: $icon-arrow-default-size;
      @include icon-content($icon-minus);
      top: 7px;
      left: $padding-large;
    }
  }
}

.collapsed .dg_accordion-btn::before {
  position: absolute;
  font-size: $icon-arrow-default-size;
  cursor: pointer;
  @include icon-content($icon-plus);
}

.collapse {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: $small-breakpoint) {
  .dg_collapse.dg_accordion__collapsible.collapsed .dg_accordion-btn {
    &:after {
      @include icon-content($icon-plus);
    }
  }

  .dg_collapse.dg_accordion__collapsible {
    .dg_accordion-btn {
      &:after {
        @include icon-content($icon-minus);
      }
    }
  }
}
