.dg_accordian__collpasible {
  color: $blue;
  font-family: $default-heading-font;
  font-size: $h2-font-size;
  font-weight: $font-bold;
  width: 100%;
  border-bottom: 1px $black solid;
  &:hover {
    color: $vibrant-blue;
  }
}

.dg_accordion__subheader {
  font-family: $default-heading-font;
  font-size: $smallest-heading-font-size;
  font-weight: $font-medium;
  color: $gray;
  padding-top: $padding-small;
  text-transform: none;
}

.dg_accordian-item-body {
  text-align: left;
  font-family: $default-heading-font;
  font-size: $smallest-heading-font-size;
  font-weight: $font-medium;
  padding-left: $padding-larger;
  padding-top: $padding-larger;
  letter-spacing: 0;
  color: $gray;
  text-transform: none;
}

.collapse {
  display: none;
}
.show {
  display: block;
}

button:focus {
  color: $blue;
}

.dg_accordian-btn {
  position: relative;
  padding-top: $padding-large;
  padding-bottom: $base-spacing-unit * 2;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  height: auto;
  font-family: $default-heading-font;
  font-size: $small-heading-font-size;
  font-weight: $font-bold;
  &:after {
    position: absolute;
    padding-top: $base-spacing-unit * 2;
    padding-bottom: $base-spacing-unit * 2;
    font-size: $h1-font-size;
    cursor: pointer;
    @include icon-content("\f107"); /*Font awesome right arrow*/
    top: 0;
    right: 0;
  }
}

.collapsed .dg_accordian-btn::after {
  position: absolute;
  cursor: pointer;
  @include icon-content("\f105"); /*Font awesome down arrow*/
}

.dg_allitems {
  text-align: right;
  text-decoration: underline;
  font-family: $default-body-font;
  font-size: $base-font-size;
  font-weight: $font-bold;
  font-style: italic;
  border-bottom: 1px $black solid;
  width: 100%;
  color: $blue;
  &:hover {
    color: $vibrant-blue;
  }
}
