.dg_accordion.dg_section.dark {
  .dg_accordion-btn:focus {
    color: $white;
  }
  .dg_allitems {
    color: $white;
    &:hover {
      color: $blue-lightest;
    }
  }
  .dg_accordion__collapsible {
    color: $white;
    &:hover {
      color: $blue-lightest;
    }
    .dg_accordion__subheader {
      color: $white;
    }
    .dg_accordion-item-body {
      color: $white;
      a {
        color: $white;
      }
    }
  }
}
