.dg_alert {
  background: $vibrant-blue;
  padding: $padding-large $default-padding;
  text-align: center;

  * {
    color: $white;
  }

  a {
    text-decoration: underline;
    padding: 0 1.5px;

    &:focus {
      color: $white;
    }

    &:hover {
      color: $gray-lightest;
    }
  }

  p,
  ul {
    font-size: $smallest-heading-font-size;
    margin-bottom: $margin-small;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  p,
  .dg_alert__status,
  ul {
    font-family: $default-heading-font;
  }

  .dg_alert__status {
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .dg_alert__icon {
    padding: 0 $padding-small 0 0;
  }

  &.emergency {
    background: $red-dark;

    a:hover {
      color: $gold;
    }
  }

  &.status {
    border: $border-width-small solid $black;
    outline: $border-width-large solid transparent;
    margin-bottom: $default-margin;
    text-align: left;
    * {
      color: $white;
    }

    &.success {
      background: $success-color;
      border-color: $black;
      outline-color: $success-color;

      * {
        color: $black;
      }
      a:hover {
        color: $pale-blue;
      }
    }

    &.information {
      background: $info-color;
      color: $black;
      outline-color: $info-color;
      * {
        color: $black;
      }
      a:hover {
        color: $pale-blue;
      }
    }

    &.warning {
      background: $warning-color;
      border-color: $black;
      outline-color: $warning-color;

      * {
        color: $black;
      }
      a:hover {
        color: $pale-blue;
      }
    }

    &.error {
      background: $error-color;
      outline-color: $error-color;

      * {
        color: $black;
      }
      a:hover {
        color: $pale-blue;
      }
    }
  }
}
@media screen and (max-width: $small-breakpoint) {
  .dg_alert {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
  }
}
