.dg_alert {
  background: $vibrant-blue;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  padding: $default-padding;

  * {
    color: $white;
  }

  a {
    text-decoration: underline;
  }

  p {
    font-size: $smallest-heading-font-size;
    margin-bottom: 0;
  }

  p,
  .dg_alert__status {
    font-family: $default-heading-font;
  }

  .dg_alert__status {
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .dg_alert__icon {
    padding: 0 $default-padding 0 0;
  }

  &.emergency {
    background: $red-dark;
  }

  &.status {
    border: $border-width-small solid $white;
    outline: $border-width-large solid transparent;

    * {
      color: $white;
    }

    &.success {
      background: $success-color;
      outline-color: $success-color;
    }

    &.info {
      background: $info-color;
      border-color: $black;
      outline-color: $info-color;

      * {
        color: $black;
      }
    }

    &.error {
      background: $error-color;
      outline-color: $error-color;
    }
  }
}
