.dg_page-header.themed.gold {
  .dg_breadcrumbs {
    color: $black;
    .breadcrumb {
      &:after {
        color: $gray-dark;
      }

      &:last-child {
        color: $black;

        &:hover {
          color: $vibrant-blue;
        }
      }
    }
  }
}

.dg_page-header.themed.gray {
  .dg_breadcrumbs {
    color: $white;

    a.breadcrumb {
      color: $white;

      &:hover {
        color: $vibrant-blue;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $vibrant-blue;
        }
      }
    }
  }
}

.dg_page-header.themed.purple {
  .dg_breadcrumbs {
    color: $white;

    a.breadcrumb {
      color: $white;

      &:hover {
        color: $vibrant-blue;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $vibrant-blue;
        }
      }
    }
  }
}
