.dark,
.dg_page-header.blue {
  .dg_breadcrumbs {
    .breadcrumb {
      color: $white;

      &:hover {
        color: $blue-lightest;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $blue-lightest;
        }
      }
    }
  }
}
