.dg_page-header.themed.gold {
  .dg_breadcrumbs {
    color: $black;
    a {
      &.breadcrumb {
        &:after {
          color: $gray-dark;
        }
        &:hover {
          color: $black;
        }
        &:focus {
          color: $black;
          outline-color: $black;
        }

        &:last-child {
          color: $black;

          &:hover {
            color: $blue;
          }
          &:focus {
            color: $blue;
            outline-color: $blue;
          }
        }
      }
    }
  }
}

.dg_page-header.themed.gray {
  .dg_breadcrumbs {
    color: $white;

    a.breadcrumb {
      color: $white;

      &:hover {
        color: $vibrant-blue;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $vibrant-blue;
        }
      }
    }
  }
}

.dg_page-header.themed.purple {
  .dg_breadcrumbs {
    color: $white;

    a.breadcrumb {
      color: $white;

      &:hover {
        color: $vibrant-blue;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $vibrant-blue;
        }
      }
    }
  }
}

.dg_page-header.themed.brand-blue {
  .dg_breadcrumbs {
    color: $white;

    a.breadcrumb {
      color: $white;

      &:hover {
        color: $gold;
      }
      &:focus {
        color: $gold;
        outline-color: $gold;
      }
      &:focus {
        color: $gold;
        outline-color: $gold;
      }

      &:after {
        color: $white;
      }

      &:last-child {
        color: $gold;

        &:hover {
          color: $gold;
        }
        &:focus {
          color: $gold;
          outline-color: $gold;
        }
      }
    }
  }
}
