$breadcrumb-icon-size: 20px;

.dg_breadcrumbs {
  color: $black;
  font-family: $default-heading-font;
  font-size: $smallest-font-size;
  font-weight: $font-bold;
  padding-left: 0px;
  text-transform: uppercase;
  margin: 0 0 $padding-large 0;

  .breadcrumb {
    font-weight: $font-medium;
    margin: 0 $default-margin;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }

    &:after {
      color: $gray-light;
      position: relative;
      font-size: $breadcrumb-icon-size;
      font-weight: $font-bold;
      @include icon-content($icon-arrow-right);
      vertical-align: middle;
      right: -20px;
    }

    &:focus {
      display: inline-block;
    }

    &:last-child {
      color: $black;
      margin: 0 $default-padding;

      &:hover {
        color: $vibrant-blue;
      }

      &:after {
        content: none;
      }
    }

    &.breadcrumb-first {
      margin-left: $margin-small;

      &:before {
        position: relative;
        font-size: $breadcrumb-icon-size;
        font-weight: $font-bold;
        content: $icon-home;
        font-family: $font-awesome-pro;
        vertical-align: baseline;
        right: 10px;
      }
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_breadcrumbs {
    display: none;
  }
}
