.dg_section.dark {
  .dg_breadcrumbs {
    color: $gold;

    li {
      a {
        color: $white;

        &:hover {
          color: $blue-lightest;
        }
        &:after {
          color: $white;
        }
      }
    }
  }
}
