.dg_button {
	background: $blue;
	border: $border-width solid $blue;
	color: $white;
	font-family: $default-heading-font;
	font-size: $smallest-heading-font-size;
	font-weight: $font-bold;
	padding: $default-padding;
	text-transform: uppercase;

	i {
		display: inline;
		margin-right: $margin-small;
	}

	&:active,
	&.active {
		background: $pale-blue;
		border-color: $pale-blue;
	}

	&:hover,
	&.hovered {
		background: $vibrant-blue;
		border-color: $vibrant-blue;
	}

	&:disabled,
	&.disabled {
		background: $gray-light;
		border-color: $gray-light;
	}
}

.dg_button-secondary {
	background: none;
	color: $blue;
	border-color: $blue;

	&:active,
	&.active {
		color: $white;
		background: $pale-blue;
		border-color: $blue;
	}

	&:hover,
	&.hovered {
		background: $vibrant-blue;
		border-color: $blue;
		color: white;
	}

	&:disabled,
	&.disabled {
		background: none;
		border-color: $gray-light;
		color: $gray-light;
	}
}

.dg_button-link {
	background: none;
	border: none;
	color: $blue;
	font-family: $default-body-font;
	font-size: $base-font-size;
	font-style: italic;
	text-transform: inherit;
	text-decoration: underline;

	&:active,
	&.active {
		background: none;
		border-color: none;
		color: $pale-blue;
	}

	&:hover,
	&.hovered {
		background: none;
		border-color: none;
		color: $vibrant-blue;
	}

	&:disabled,
	&.disabled {
		background: none;
		border-color: none;
		color: $gray-light;
	}
}
