.dg_card {
  border: $border-width-small solid $gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: $margin-large;
  padding: $padding-large;
  width: 100%;

  .dg_icon-container {
    color: $gold;
    font-size: 60px;
    margin-bottom: 20px;
  }

  .dg_card__content {
    display: block;
    text-align: center;
  }
  .dg_card__footer {
    display: block;
    text-align: center;
  }
}
