.dg_card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;

  .dg_card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 33.3333%;
    flex-wrap: wrap;
    max-width: 33.3333%;
    min-width: 0;
    position: relative;
    width: 100%;

    .dg_card-content-center {
      border: $border-width-small solid $gray;
      text-align: center;
      display: block;
      padding: $padding-large;
      margin: $margin-small;

      .dg_icon-container {
        color: $gold;
        font-size: 60px;
        margin-bottom: 15px;
      }
    }

    .dg_card-content-left {
      border: $border-width-small solid $gray;
      text-align: left;
      display: block;
      padding: $padding-large;
      margin: $margin-small;

      .dg_icon-container {
        color: $gold;
        font-size: 60px;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_card-container {
    .dg_card {
      max-width: 100%;
      flex: 0 1 100%;
      width: 100%;
    }
  }
}
