.dg_checkbox {
	font-weight: 400;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	display: block;
	position: relative;
	min-height: 40px;
	margin-bottom: 10px;
	padding-left: 40px;
	clear: left;

	.dg_checkbox-input {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: -2px;
		left: -2px;
		width: 44px;
		height: 44px;
		margin: 0;
		opacity: 0;
	}

	input[type="checkbox" i] {
		background-color: initial;
		cursor: default;
		-webkit-appearance: checkbox;
		box-sizing: border-box;
		margin: 3px 3px 3px 4px;
		padding: initial;
		border: initial;
	}

	.dg_checkbox-label {
		display: inline-block;
		margin-bottom: 0;
		padding: 8px 15px 5px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;

		&::before {
			content: "";
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			border: 2px solid currentColor;
			background: transparent;
		}

		&::after {
			content: "\f00c";
			font-family: $font-awesome-free;
			position: relative;
		}
	}
}

.dg_checkbox-input:focus + .dg_checkbox-label::before {
	@extend :focus;
}

.dg_checkbox-input:checked + .dg_checkbox-label::after {
	opacity: 1;
}

.dg_checkbox-input:disabled,
.dg_checkbox-input:disabled + .dg_checkbox-label {
	cursor: default;
}

.dg_checkbox-input:disabled + .dg_checkbox-label {
	opacity: .5;
}

.dg_checkbox__conditional {
	margin-bottom: 15px;
	margin-left: 18px;
	padding-left: 33px;
	border-left: 4px solid #b1b4b6;
}
