.dg_collapse {
  border-top: $border-width-large solid $gray-light;
  margin-bottom: $margin-larger;

  &:last-child {
    border-bottom: none;
  }
  .dg_accordion-item-body {
    background: $gray-lightest;
    border: none;
    font-weight: $font-normal;
    font-family: $default-heading-font;
    font-size: $smallest-heading-font-size;
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.dg_accordion__collapsible {
    .dg_accordion-btn {
      background-color: inherit;
      color: $black;
      margin-bottom: $margin-small;
      &:hover {
        background-color: inherit;
      }

      &:before {
        content: none;
      }

      &:after {
        position: absolute;
        font-size: $icon-arrow-default-size;
        cursor: pointer;
        @include icon-content($icon-arrow-down);
        color: $blue;
        display: inline-block;
        left: 0;
        padding: 7.5px 0;
        top: 10px;
      }
    }

    .dg_accordion_buttontext-holder {
      margin-left: $margin-large;
    }
  }

  &.collapsed {
    .dg_accordion-btn {
      &:after {
        @include icon-content($icon-arrow-right);
      }
    }
  }
}
