.dg_date-container {
  position: relative;
  min-width: 40%;
  margin-right: $padding-large;
  .dg_form-field {
    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        .dg_date-btn {
          display: inline-block;
          position: absolute;
          left: 85%;
          top: 20%;
          cursor: pointer;
        }
      }
    }
  }
}
