.dg_date-news-card {
  display: block;
  position: relative;
  //background-color: $blue;
  //bottom: -1px;
  //max-width: 410px;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  //font-weight: 700;
  //text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  .lat-new-month {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #feb30c;
    font-weight: bold;
  }
  .lat-new-day {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #feb30c;
    font-size: 45px;
    font-weight: bold;
    line-height: 35px;
  }
  .lat-new-tile {
    display: block;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #50658a;
    //background-color: none;
    padding: 20px;
    min-height: 270px;
    height: 100%;
  }
}
