.dg_fieldset {
	border-top: $border-width-large solid $gray-light;
	padding-top: 20px;
	width: 100%;

	.dg_fieldset-hint {
		display: block;
		font-family: $default-heading-font;
		margin-top: $margin-smallest;
		font-weight: $font-light;
		margin-bottom: $margin-large;
	}
	.dg_legend {
		font-size: $smallest-heading-font-size;
		font-family: $default-heading-font;
		border: none;
		letter-spacing: 10px;
		font-weight: 700;
		margin-top: 50px;
		padding-bottom: 20px;
	}
}
