.dg_fieldset {
	border-top: $border-width-large solid $gray-light;
	margin-bottom: $margin-largest;
	padding-top: $padding-large;

	.dg_fieldset-hint {
		display: block;
		font-family: $default-heading-font;
		font-weight: $font-light;
		margin-bottom: $margin-large;
		margin-top: $margin-smallest;
	}

	.dg_form-field {
		padding-top: $padding-largest;
	}

	.dg_legend {
		border: none;
		color: $gray-dark;
		float: left;
		font-family: $default-heading-font;
		font-size: $smallest-heading-font-size;
		font-weight: $font-bold;
		letter-spacing: 10px;
		margin-bottom: $margin-large;
		margin-top: $margin-smallest;
		padding-bottom: $padding-small;
		text-transform: uppercase;
		width: 100%;
	}
}
