/* Add css to test in this file. It should be cleaned up every pr, as the css should make into the components project.*/
.dg_county-footer {
  border-top: $border-width-largest solid $red;
}

.dg_secondary-footer {
  background-color: $gray-dark;
  padding: $padding-large;
}

.dg_copyright {
  color: $white;
  font-family: $default-heading-font;
  font-size: $small-heading-font-size;
  text-transform: uppercase;
}

.dg_download-blurb {
  font-style: italic;
}

.dg_brand-footer {
  margin-bottom: $default-margin;
  margin-top: $margin-largest;

  .dg_seal {
    max-width: 100px;
  }
}

.dg_social-icon_container {
  margin-bottom: $margin-largest;

  .dg_icon-link.dg_icon-link--small {
    i {
      font-size: $default-icon-size;
    }
  }
}

.dg_footer-section {
  margin-bottom: $margin-large;
}
