.dg_icon-heading__container {
    text-align: center;

    i {
        display: block;
        margin-bottom: $default-margin;
        position: relative;

        &:before {
            background: $white;
            padding: 0 $padding-large;
            position: relative;
            z-index: 1;
        }

        &:after {
            border-top: $border-width-large solid $gray-light;
            content: "";
            margin: 0 auto;
            /* this centers the line to the full width specified */
            position: absolute;
            /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }
}

.dg_icon-heading {
    border: none !important;
    font-family: $default-heading-font;
    font-size: $smallest-heading-font-size;
    letter-spacing: $base-spacing-unit * 3;
}