.dark {
  .dg_icon-heading__icon {
    &:before,
    &:after {
      background-color: $pale-blue-lightest;
    }

    &.dg_icon-heading__background-image {
      :before,
      i:before {
        background: transparent;
      }
    }
  }
}
