.dg_icon-button {
	border: 1px solid $black;
	background-color: $white;
	color: $black;
	display: block;
	font-weight: 700;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	i {
		font-size: 60px;
		color: $gold;
		display: block;
		margin: auto;
		padding: 0 10px 20px;
	}

	&:hover,
	&:hover i {
		color: $white;
	}

	&:hover {
		background-color: $vibrant-blue;
	}
}
.dg_icon-buttonDefault {
	color: $black;
	display: block;
	font-family: $default-heading-font;
	font-weight: $font-bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid $black;
	padding: 50px 30px 50px 30px;

	i {
		font-size: 60px;
		color: $gold;
		display: block;
		margin: auto;
		padding: 0 10px 20px;
	}

	&:hover,
	&:hover i {
		color: $white;
	}

	&:hover {
		background-color: $vibrant-blue;
	}
}
.dg_icon-buttonAlternative {
	color: $white;
	display: block;
	font-family: $default-heading-font;
	font-weight: $font-bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 50px solid #001140;
	background: $pale-blue;
	outline: 0px solid #0366d6;

	i {
		font-size: 60px;
		color: $gold;
		display: block;
		margin: auto;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	&:hover,
	&:hover i {
		color: $white;
	}

	&:hover {
		background-color: $vibrant-blue;
	}
}
