$icon-image-size: 75px;
$icon-size: 30px;
$image-border-adjustment-margin: -$border-width-large * 3;

.dg_icon-heading__container {
  margin-bottom: $margin-largest;
  text-align: center;

  /* icon specific */
  i {
    display: block;
    font-size: $icon-size;
    margin-bottom: $default-margin;
    z-index: 1;

    &:after {
      z-index: -1;
    }
  }

  /* image specific */
  .dg_icon-heading__image-container {
    position: relative;

    &:before {
      background: $white;
      content: "";
      margin: auto;

      /* Position */
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      /* Size */
      height: $icon-image-size;
      width: $icon-image-size + $padding-large * 2;
    }

    img {
      margin-bottom: $image-border-adjustment-margin; /* TODO: not sure whats going on here */

      /* Position */
      position: relative;
      z-index: 1;

      /* Size */
      height: $icon-image-size;
    }
  }

  /* shared */
  i:before,
  .dg_icon-heading__image-container {
    background: $white;
    padding: 0 $padding-large;
  }

  i:before,
  .dg_icon-heading__image-container img {
    &:before {
      position: relative;
      z-index: 1;
    }
  }

  i,
  .dg_icon-heading__image-container {
    position: relative;

    &:after {
      border-top: $border-width-large solid $gray-light;
      content: "";

      margin: 0 auto;

      /* Position */
      /* this centers the line to the full width specified */
      position: absolute;
      /* positioning must be absolute here, and relative positioning must be applied to the parent */
      left: 0;
      right: 0;
      top: 50%;
      bottom: 0;

      /* Size */
      width: 100%;
    }
  }

  .dg_icon-heading__image-container {
    margin-bottom: $default-margin - $image-border-adjustment-margin; /* account for border adjustment */
  }
}

.dg_icon-heading {
  border: none !important; /* overrides default h2 in a dark section */
  font-family: $default-heading-font;
  font-size: $smallest-heading-font-size;
  letter-spacing: $base-spacing-unit * 3;
  line-height: 29px; /* Manually calculated for this element in the browser */
  padding: 0 !important; /* overrides default h2 in a dark section */
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_icon-heading__container {
    margin-bottom: $margin-largest / 2 - 5; /* split the largest margin in half and subtract the line height difference */
  }
}
