.dg_section.dark {
  .dg_icon-heading__container,
  .dg_icon-heading__image-container {
    background: none;

     :before,
     i:before {
       background: $pale-blue;
     }

    :after,
    i:after {
      border-top-color: $pale-blue-lightest;
    }
  }
}
