$icon-image-size: 75px;
$icon-size: 30px;
$image-border-adjustment-margin: -$border-width-large * 3;

.dg_icon-heading__container {
  margin-bottom: $margin-largest;
  text-align: center;

  i {
    font-size: $icon-size;
  }
}

.dg_icon-heading__icon {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: $default-margin;

  img {
    height: 75px;
    width: 75px;
  }

  &:before,
  &:after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: $gray-light;
    display: inline-block;
    margin-top: $margin-small;
    margin-bottom: $margin-small;
  }

  $icon-spacing: $default-margin;

  &:before {
    margin-right: $icon-spacing;
  }

  &:after {
    margin-left: $icon-spacing;
  }
}

.dg_icon-heading {
  border: none !important; /* overrides default h2 in a dark section */
  font-family: $default-heading-font;
  font-size: $smallest-heading-font-size;
  letter-spacing: $base-spacing-unit * 3;
  line-height: 29px; /* Manually calculated for this element in the browser */
  padding: 0 !important; /* overrides default h2 in a dark section */
}
