/*
    Handle images inside the main content section.
    !important is used throughout the file to override the site executive feature of setting images width and height.
    We want images to display to their natural size, and respond as screens become smaller.
*/
#dg_main-content {
  img {
    &.dg_external-link-image {
      margin-bottom: 0px;
      margin-left: $base-spacing-unit;
      position: relative;
      top: 2px;
    }
  }

  /*** This is a holdover from the previous template for the Resource blog. Please do not use this going forward. ***/

  .image_right {
    border: none;
    float: right;
    margin: 0 0 20px 20px;
  }

  .image_left {
    border: none;
    float: left;
    margin: 0 20px 20px 0;
  }

  img,
  .dg_image {
    max-width: 100%;
    margin-bottom: $padding-largest;
  }

  .dg_image {
    display: block;
    position: relative;

    height: auto !important;
    width: auto !important;

    &.left,
    &.right {
      max-width: 50% !important;
      margin-top: $margin-small;
      margin-bottom: $padding-largest;
    }

    &.left {
      float: left;
      margin-right: $padding-largest;
    }

    &.right {
      float: right;
      margin-left: $padding-largest;
    }
  }
}

img {
  &.dg_external-link-image {
    margin-bottom: 0px;
    margin-left: $base-spacing-unit;
    position: relative;
    top: 2px;
  }
}

.dg_section {
  &.dg_one-pg-hdr {
    img {
      &.dg_ft-hdrimg {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        max-width: 875px;
        width: 100%;
      }
    }
  }

  &.one-pg-ft-section {

    img {
     width: 100%;
    }
  }
}

.container-loop-card {
  .dg_card {
    .dg_card__content {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  #dg_main-content .dg_image {
    &.left,
    &.right {
      float: none;
      max-width: 100% !important;
      margin: auto;
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  #dg_main-content .dg_image {
    width: 100% !important;
  }

  .dg_section {
    &.dg_one-pg-hdr {
      img {
        &.dg_ft-hdrimg {
          box-shadow: none;
          max-width: 395px;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
