.dg_main-content {
  img {
    width: 100%;
    margin-bottom: $padding-largest;
  }

  .dg_image {
    display: block;
    position: relative;
    &.left,
    &.right {
      margin-top: $margin-small;
      margin-bottom: $padding-largest;
      max-width: 40%;
    }
    &.left {
      float: left;
      margin-right: $padding-largest;
    }

    &.right {
      float: right;
      margin-left: $padding-largest;
    }
  }
}

@media screen and (min-width: $large-breakpoint) {
  .dg_image {
    position: relative;
    display: block;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
