$input-border-width: 2px;

input,
textarea {
  border: $input-border-width solid $black;
  border-radius: 0; /** needed for safari mobile */
  padding: $default-padding;
  width: 100%;

  &:focus {
    outline: $input-border-width solid $gold;
    outline-offset: 0;
  }
}
