$input-border-width: 2px;

input,
select{
	top: 987px;
	left: 716px;
	width: 178px;
	height: 28px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #000000;
	border: 2px solid #707070;
	opacity: 1;
 }
textarea {
	border: $input-border-width solid $black;
	border-radius: 0; /** needed for safari mobile */
	padding: $default-padding;
	width: 100%;
}

textarea {
	min-height: 8em;
}
