.dg_label {
	font-family: $default-heading-font;
	font-size: $small-heading-font-size;
	font-weight: $font-medium;

	.dg_label-hint,
	.dg_label-validation {
		margin-top: $default-margin;
		font-size: $smallest-font-size;
		font-weight: $font-light;
	}
	.dg_label-validation {
		color: $red;
	}
}
