$large-icon-link-size: 100px;
$small-icon-link-size: 50px;

@mixin icon-size($iconSize, $iconLinkSize) {
  font-size: $iconSize;
  height: $iconLinkSize;
  line-height: $iconLinkSize;
  width: $iconLinkSize;
}

.dg_icon-link {
  color: $gray-darkest;
  border: $border-width-small solid $gray;
  display: inline-block;
  font-family: $default-heading-font;
  font-weight: $font-bold;
  padding: $default-padding $padding-jumbo;
  margin: $margin-small 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  i {
    color: $gold;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: block;
  }

  &:focus,
  &.focused {
    color: $black;
  }

  &:hover,
  &.hovered,
  &:active,
  &.active,
  &:disabled,
  &.disabled {
    color: $white;
    i {
      color: $white;
    }
  }

  &:hover,
  &.hovered {
    background: $vibrant-blue;
  }

  &:active,
  &.active {
    background: $pale-blue;
  }

  &:disabled,
  &.disabled {
    background: $gray-light;
  }

  &.dg_icon-link--small {
    i {
      @include icon-size($small-icon-size, $small-icon-link-size);
    }
  }

  &.dg_icon-link--large {
    i {
      @include icon-size($large-icon-size, $large-icon-link-size);
    }
  }
}

.dg_icon-link--circle {
  border: none;
  padding: $default-padding;

  i {
    background: $gold;
    color: $black;
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
  }

  span {
    margin-top: $default-margin;
  }

  &:hover,
  &.hovered {
    background: none;
    color: $vibrant-blue;

    i {
      background: $vibrant-blue;
      color: white;
    }
  }

  &:active,
  &.active {
    background: none;
    color: $pale-blue;

    i {
      background: $pale-blue;
      color: $white;
    }
  }

  &:focus,
  &.focused {
    color: $black;
  }

  &:disabled,
  &.disabled {
    background: none;
    color: $gray-light;

    i {
      color: $white;
      background: $gray-light;
    }
  }
}

.dg_inline-icon-link {
  i {
    margin-right: $default-margin;
  }
}
