.dg_list {
  &ul {
    li {
      padding-left: $padding-small;
    }
  }
  &ol {
    li {
      padding-left: $padding-small;
    }
  }
}

ul,
ol {
  margin-bottom: $default-margin;
  margin-top: $margin-small;
}

.dg_onepg-nav {
  ul {
    display: flex;
    margin: 20px;
    list-style: none;

    li {
      font-family: $default-heading-font;
      font-size: 12px;
      font-weight: 700;
      padding: 0px 20px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
