.dg_logotype {
  border-right: $border-width-small solid $gray-light;
  padding: 0 $padding-large 0 $padding-largest;
  text-decoration: none;

  span {
    font-family: $default-heading-font;
    text-transform: uppercase;
  }

  span:first-of-type {
    font-weight: $font-bold;
    font-size: $small-heading-font-size;
    color: $black;
  }

  span:last-of-type {
    font-weight: $font-medium;
    font-size: $smallest-font-size;
    letter-spacing: $padding-small;
    color: $gray;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .dg_logotype {
    border-right: none;
  }
}
