.dg_news-content {
	display: block;
	position: relative;
	//background-color: $blue;
	//bottom: -1px;
	//max-width: 410px;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	//font-weight: 700;
	//text-transform: uppercase;
	font-family: "Montserrat", sans-serif;

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.mt-5,
	.my-5 {
		margin-top: 3rem !important;
	}
	.lat-new-month {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-style: normal;
		color: #feb30c;
		font-weight: bold;
	}
	.lat-new-day {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		color: #feb30c;
		font-size: 45px;
		font-weight: bold;
		line-height: 35px;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12,
	.col,
	.col-auto,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm,
	.col-sm-auto,
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md,
	.col-md-auto,
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg,
	.col-lg-auto,
	.col-xl-1,
	.col-xl-2,
	.col-xl-3,
	.col-xl-4,
	.col-xl-5,
	.col-xl-6,
	.col-xl-7,
	.col-xl-8,
	.col-xl-9,
	.col-xl-10,
	.col-xl-11,
	.col-xl-12,
	.col-xl,
	.col-xl-auto {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.align-text-center {
		text-align: center;
	}
	.headline-light {
		color: $white;
	}

	h1 {
		color: $black;
		font-size: 24px;
		margin-bottom: 0px;
	}
	a {
		color: $black;
		text-decoration: none;
	}
	a:hover {
		color: $vibrant-blue;
	}
	h3 {
		//margin-bottom: 0.5rem;
		display: block;
		// font-size: 1.17em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		// font-weight: bold;
	}
	h4 {
		color: $gray;
		font-size: 14px;
		letter-spacing: 10px;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}
	.lat-new-tile {
		display: block;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid #50658a;
		//background-color: none;
		padding: 20px;
		min-height: 270px;
		height: 100%;
	}
}
