.dg_page-header.themed.gray {
  color: $white;

  h1 {
    color: $white;
  }

  .dg_page-header__deck {
    color: $white;
  }
}

.dg_page-header.themed.gold {
  color: $black;

  h1 {
    color: $black;
  }

  .dg_page-header__deck {
    color: $black;
  }
}

.dg_page-header.themed.purple {
  color: $white;

  h1 {
    color: $white;
  }

  .dg_page-header__deck {
    color: $white;
  }
}

.dg_page-header.themed.brand-blue {
  color: $white;

  a {
    &:hover {
      color: $gold;
    }
    &:focus {
      color: $gold;
      outline-color: $gold;
    }
  }

  .dg_breadcrumbs {
    a {
      &:hover {
        color: $gold;
      }
      &:focus {
        outline-color: $gold;
      }
    }
  }

  h1 {
    color: $white;
  }

  .dg_page-header__deck {
    color: $white;
  }
}

.dg_page-header.themed.blue {
  color: $white;

  a {
    &:hover {
      color: $gold;
    }
    &:focus {
      color: $gold;
      outline-color: $gold;
    }
  }

  .dg_breadcrumbs {
    a {
      &:hover {
        color: $gold;
      }
      &:focus {
        outline-color: $gold;
      }
    }
  }

  h1 {
    color: $white;
  }

  .dg_page-header__deck {
    color: $white;
  }
}
