.dg_page-header {
  color: $black;
  text-decoration: none;
  position: relative;
  margin-bottom: $margin-large;

  .dg_page-header__container {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    position: relative;
    z-index: 9;
  }

  &.themed {
    .dg_page-header__container {
      padding-bottom: $padding-jumbo;
    }
  }

  .dg_page-header__backgroundImage {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    object-fit: cover;
  }

  .dg_page-header__deck {
    color: $black;
    font-family: $default-body-font;
    font-size: $deck-font-size;
    font-style: italic;
    margin-bottom: 0;
  }

  .dg_page-header__pre-title {
    display: block;
    font-family: $default-heading-font;
    font-size: $smallest-font-size;
    font-weight: $font-bold;
    letter-spacing: $padding-small;
    text-transform: uppercase;
  }

  .dg_page-header__title {
    display: block;
    font-family: $default-heading-font;
    font-size: $h1-font-size;
    font-weight: $font-bold;
    letter-spacing: $base-spacing-unit;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;
    display: block;
  }

  &.blue:after {
    background: rgba($pale-blue, 0.9);
  }
}

@media screen and (max-width: $extra-large-breakpoint) {
  .dg_page-header {
    margin-bottom: $margin-large;
  }
}

@media screen and (max-width: $large-breakpoint) {
  .dg_page-header__title {
    margin-bottom: $default-margin;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_page-header.blue:after {
    background: $pale-blue;
  }

  .dg_page-header__backgroundImage {
    display: none;
  }

  .dg_page-header .dg_page-header__container {
    padding-top: $padding-largest;
    padding-bottom: 0;
  }

  .dg_page-header.themed .dg_page-header__container {
    padding-bottom: $padding-largest;
  }
}
