#executive_news {
    .feedDetails {
        line-height: 1.7em;
    }

    .feedItems {
        list-style-type: none;
        margin-left: 0;
        margin-top: $default-margin;
        padding: 0;
    }

    .extras {
        display: none;
    }

    .item {
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: $padding-large;
        margin-top: $default-margin;
    }
}