#dg_back-to-top {
  bottom: 10px;
  opacity: 0;
  padding: $padding-small;
  position: fixed;
  right: 10px;
  transition: opacity 0.3s $default-timing-function;
  z-index: 999;

  .dg_scroll-top-icon {
    background-color: $white;
    border-radius: 50%;
    height: 1.25em;
    padding-top: 15%;
  }

  &.show {
    opacity: 1;
  }
}
