#dg_back-to-top {
  bottom: 10px;
  opacity: 0;
  padding: $padding-small;
  position: fixed;
  right: 10px;
  transition: opacity 0.3s $default-timing-function;
  z-index: 999;

  .dg_scroll-top-icon {
    --fa-primary-color: #ffffff;
    --fa-secondary-color: #002280;
    --fa-secondary-opacity: 1;

    &:hover,
    &.hovered {
      --fa-secondary-color: $vibrant-blue;
    }

    &:active,
    &.active {
      --fa-secondary-color: $pale-blue;
    }

    &:disabled,
    &.disabled {
      --fa-secondary-color: $gray-light;
    }
  }

  &.show {
    opacity: 1;
  }
}
