.dg_search-container {
  position: relative;
  min-width: 40%;
  margin-right: $padding-large;

  .dg_search-btn {
    display: block;
    position: absolute;
    right: $padding-small;
    top: $padding-small;
    cursor: pointer;

    i:hover {
      color: $vibrant-blue;
    }
  }
}

.dg_search-input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: $padding-small;
  border: $default-border-width solid $black;
  font-size: $padding-large;
  font-family: $default-heading-font;
  width: 100%;
}
.dg_form-field_input--text {
  font-family: $default-body-font;
}
