.dg_search-container {
  position: relative;
  width: 100%;
  height: $base-spacing-unit * 10;
  color: $black;

  .dg_search-btn {
    display: block;
    position: absolute;
    right: $base-spacing-unit * 2;
    top: $padding-small;
    font-size: $base-font-size -2;
    color: $black;
    cursor: pointer;
    background: none;
    border: none;

    // i:hover {
    //   color: $blue-lightest;
    //   transition: all 0.3s ease 0s;
    // }
  }
}
.dg_search-text-field {
  display: block;
  font-family: $default-body-font;
  width: 100%;
  height: $base-spacing-unit * 10;
  padding: $padding-small $padding-small;
  font-size: $base-font-size;
  font-style: italic;
  text-align: left;
  color: $gray;
  background-color: $gray-lightest;
  background-clip: padding-box;
  border: $default-border-width solid $black;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
