.dg_section_transparency {
	letter-spacing: $base-spacing-unit * 3;
}

.align-text-center {
	text-align: center;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.icon-dark {
	color:$black;
}

.icon-section-header-light {
	font-size: 35px;
	background-color: $white;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -20px;
	width: 100px;
}

.testing-style-drk {
	border-top: 5px solid #e6e6e6;
	position: relative;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}
.col-md-12 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
