.dg_your_gov {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dg_section_government {
  text-align: center;

  h3 {
    color: $gray;
    font-family: $default-heading-font;
    font-size: $h3-font-size;
    font-weight: $font-medium;
    letter-spacing: $base-spacing-unit * 3;
    text-align: center;
    text-transform: uppercase;
  }
}

.dg_icon_container {
  border-top: $border-width-large solid $gray-light;
  position: relative;
  width: 100%;
  padding-right: $default-padding;
  padding-left: $default-padding;
  margin-bottom: $margin-largest;

  i {
    font-size: $h1-font-size;
    color: $gray;
    background-color: $white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    width: $base-spacing-unit * 20;
  }
}
