.dg_section {
  padding: $default-padding 0;

  .dg_section-cta {
    padding: $padding-large 0;
    text-align: center;
  }

  &.light {
    background: $gray-lightest;
  }

  &.dark {
    background: $pale-blue;
    color: $white;

    h2 {
      @include alt-h2-heading($gold);
    }

    p {
      color: $white;
    }
  }
}
