.dg_section {
  padding: $padding-jumbo 0;
  position: relative;

  .dg_section__background-image {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    object-fit: cover;
  }

  .dg_section-cta {
    padding: $padding-jumbo 0 0;
    text-align: center;
  }

  .dg_section__content {
    position: relative;
    z-index: 999;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;
    display: block;
  }

  &.light {
    background: $gray-lightest;
  }

  &.dark {
    background: $pale-blue;
    color: $white;

    h2 {
      @include alt-h2-heading($gold);
    }

    p {
      color: $white;
    }

    &:after {
      background: rgba($pale-blue, 0.9);
    }
  }
}

.dg_section__background-image {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: $extra-large-breakpoint) {
  .dg_section .dg_section-cta {
    padding: $padding-larger 0 0;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_section {
    padding: $padding-larger 0;

    .dg_section-cta {
      padding: 0;
    }
  }
}
