.dg_section {
  padding: $padding-jumbo 0;
  position: relative;

  .dg_section-cta {
    padding: $padding-jumbo 0 0;
    text-align: center;
  }

  &.light {
    background: $gray-lightest;
  }

  &.dark {
    background: $pale-blue;
    color: $white;

    h2 {
      @include alt-h2-heading($gold);
    }

    p {
      color: $white;
    }
  }
}

.dg_section__background-image {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: $large-breakpoint) {
  .dg_section .dg_section-cta {
    padding: $padding-largest 0 0;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_section {
    padding: ($padding-jumbo / 2) 0;
    &.dark.dg_section__background-image {
      background-image: none;
      background: $pale-blue-dark;
      color: $white;
    }
    .dg_section-cta {
      padding: 0;
    }
  }
}
