$header-height: 65px;
.is-disabled .dg_site-header {
  transform: translateX(400px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dg_header {
  background-color: $gray-lightest;
  border-top: $site-border-width solid $red;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  p {
    padding: $padding-large;
    margin: 0;
  }
}

.dg_site-header {
  display: flex;
  position: sticky;
  z-index: 200;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  .dg_brand {
    display: flex;
    align-items: center;

    .dg_brand-text {
      border-right: $border-width-small solid $gray-light;
      padding: 0 $padding-large;
    }

    a {
      text-decoration: none;
    }
  }
  &.dg_site-header-sticky-IE {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
  &.dg_min-header {
    height: 85px;

    .dg_brand {
      .dg_brand-text {
        border-right: none;
      }
    }
  }
}

.dg_header-right {
  align-items: center;
  display: flex;
  min-width: 40%;
  margin-right: $default-margin;
}

.dg_mobile-search-button {
  display: none;
}

@media screen and (max-width: $header-breakpoint) {
  #search-form {
    display: flex; //22583-header-translate
    padding: $default-padding;
    position: absolute;
    top: 85px;
    height: $header-height;
    width: 100%;
    background: white;
    z-index: 999; //22583-header-translate
    flex-direction: column;
    justify-content: center;
    left: 0px;
  }

  .dg_header-right {
    min-width: 0;
  }

  .dg_search-container {
    margin-right: 0px;
  }

  .dg_site-header {
    background: $white;
    position: sticky;
    z-index: 99;
    margin-bottom: 130px; /* Visually calculated for this component only */ /* Edited margin for 22583-header-translate */
    justify-content: flex-end;
    top: 0;
  }

  #search-form.is-visible {
    display: flex;
  }

  .dg_mobile-search-button {
    display: block;
    padding: $default-padding;
    z-index: $max-z-index-minus-1;
  }
}

@media screen and (max-width: $header-breakpoint) {
  .dg_header p {
    padding: $padding-large + 1;
  }

  .dg_site-header {
    .dg_brand {
      .dg_brand-text {
        border-right: none;
        text-align: center;
        position: absolute;
        top: 12.5px; /* Visually calculated for this component only*/
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
      }
    }

    &.dg_min-header {
      background: $gray-lightest;
      margin-bottom: $margin-small;
    }
  }

  #search-form {
    .dg_search-btn {
      right: $padding-small;
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .is-disabled .dg_site-header {
    transform: translateX(245px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/* On small screens we need to shrink the hamburger menu button in order to fit all of the header content. */
@media screen and (max-width: $small-breakpoint) {
  .bc_site-nav__toggle-button,
  .dg_mobile-search-button,
  #fake-site-nav-button {
    height: $header-height;
    width: $header-height;
    padding: 0;
  }

  .bc_site-nav__toggle-button {
    .bc_site-nav__toggle-button__text {
      font-size: $tiny-font-size;
    }

    i {
      font-size: 30px; /* specific to this component only */
    }
  }
  .is-disabled .dg_site-header {
    transform: translateX(245px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .dg_site-header {
    top: 0;
    .dg_brand {
      .dg_brand-text {
        top: 3px; /* visually calculated in the browser. */

        span:first-of-type,
        span:last-of-type {
          font-size: $smallest-font-size;
        }

        span:last-of-type {
          letter-spacing: $base-spacing-unit;
        }
      }
    }
  }

  #search-form {
    top: $header-height;
  }
}
