$desktop-menu-width: 400px;
$mobile-menu-width: 245px;

@mixin nav-menu-width($width) {
  #bc_site-nav .bc_site-nav__list-container {
    width: $width;

    &.invisible {
      left: -$width;
    }
  }

  .is-active {
    .bc_site-nav__toggle-button {
      left: $width !important;
    }
  }

  #bc_page.is-disabled {
    left: $width;
  }
}

#bc_site-nav {
  position: relative;
  top: 0;
  left: 0;

  .bc_site-nav__toggle-button {
    position: absolute;
    top: 10px; /* mimic the top border of the site */
    left: 0;
    z-index: $max-z-index;
    @include default-transition(left);
  }

  .bc_site-nav__seal {
    max-width: 75px;
    width: 100%;
  }

  .bc_site-nav__list-container {
    background: $pale-blue-dark;
    border-top: $border-width-largest solid $red;
    color: $white;
    padding: $default-padding $padding-large;
    position: fixed;
    left: 0;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    @include default-transition(left);

    ul {
      list-style-type: none;
      margin: $margin-large 0 0;
      padding: 0;

      a {
        border: $border-width-small solid $white;
        color: $white;
        display: block;
        font-family: $default-heading-font;
        font-weight: $font-bold;
        font-size: $small-heading-font-size;
        margin: $default-margin auto;
        padding: $padding-large $default-padding;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        i {
          text-align: center;
          margin-right: $margin-small;
          width: 40px;
        }

        &:after {
          @include icon-content($icon-arrow-right);
          position: absolute;
          right: $default-padding; /* mimic padding with absolutely positioned element */
        }

        &:hover {
          background: $blue-lightest;
          color: $white;
        }
      }
    }
  }
}

.is-active {
  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 10px;
    background: $red;
    z-index: $site-nav-z-index;
  }
}

#bc_page {
  position: relative;
  margin: auto;
  left: 0;
  @include default-transition(left);

  &:after {
    content: "";
    opacity: 0;
    background: #000000;
    @include default-transition(opacity);
    // transition:  0.2s;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }

  &.is-disabled {
    overflow: hidden;

    &:after {
      opacity: $default-overlay-opacity;
      visibility: visible;
    }
  }
}
body.is-disabled {
  overflow: hidden;
}

@include nav-menu-width($desktop-menu-width);

/* breakpoint is specific to the site navigation only */
@media screen and (max-width: $medium-breakpoint) {
  @include nav-menu-width($mobile-menu-width);

  #bc_site-nav .bc_site-nav__list-container ul a i {
    display: none;
  }
}

/*TODO: this needs to be full screen, with the close button absolutely position in the top right */
// @media screen and (max-width: $small-breakpoint) {
//   body.is-disabled {
//     position: relative;
//   }

//   #bc_site-nav {
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;

//     &.is-active {
//       position: absolute;
//       z-index: $max-z-index-minus-1;
//     }

//     .bc_site-nav__list-container {
//       position: absolute;
//       left: 0;
//       right: 0;
//       top: 0;
//       bottom: 0;
//       width: 100%;
//       transition: none;
//       z-index: -1;
//     }

//     &.is-active {
//       .bc_site-nav__toggle-button {
//         background: transparent;
//         color: $white;
//         top: 10px;
//         position: absolute;
//         left: auto !important;
//         right: 0;
//         z-index: $max-z-index;
//         transition: none;

//         i {
//           color: white;
//         }
//       }
//     }
//   }

//   #bc_page {
//     position: static;
//     transition: none;
//   }

//   #bc_site-nav .bc_site-nav__list-container {
//     width: 100%;

//     &.invisible {
//       left: 0;
//     }
//   }

//   .is-active {
//     .bc_site-nav__toggle-button {
//       left: 0 !important;
//     }
//   }

//   #bc_page.is-disabled {
//     left: 0;
//   }
// }
