.dg_status-text {
  color: $gray-light;
  font-size: $h2-font-size;
  text-transform: uppercase;
  font-family: $default-heading-font;
  font-weight: $font-medium;
  letter-spacing: $base-spacing-unit * 2;
  padding-left: $padding-jumbo;
}
