.dg_step-list.static {
  .dg_step-list__toggle-btn {
    cursor: default;
  }
  .dg_step-list__toggle-btn__btn-text,
  .dg_step-list__show-all-btn {
    display: none;
  }
}

.dg_step-list__list {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 60px;
}

.dg_step-list__list > li {
  border-bottom: $border-width-small solid $gray-light;
  margin-bottom: $default-margin;
  padding-bottom: $default-padding;
  counter-increment: my-awesome-counter;
  position: relative;
}

.dg_step-list__list > li:first-child {
  border-top: $border-width-small solid $gray-light;
  padding-top: $default-padding;
}

.dg_step-list__list > li::before {
  background: $white;
  border: 3px solid $gray;
  content: counter(my-awesome-counter);
  font-weight: $font-bold;
  font-size: $h3-font-size;
  font-family: $default-heading-font;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: -60px;
  height: 40px;
  width: 40px;
  line-height: 34px; /* Offset by the border width */
  border-radius: 50%;
  text-align: center;
  z-index: 4;
}

.dg_step-list__list > li::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 0;
  height: 100%;
  border-left: $default-border-width solid $gray-light;
  background: $white;
  left: -41px; /* I think this offset is being caused by the border width */
  top: 30px;
}

.dg_step-list__list > li:last-child::after {
  border: none;
}

.dg_step-list__list > li:first-child::before {
  top: 15px;
}

.dg_step-list__toggle-btn,
.dg_step-list__toggle-btn__title {
  display: inline-block;
}

.dg_step-list__toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.dg_step-list__toggle-btn__title {
  font-size: $base-font-size;
  font-family: $default-heading-font;
  font-weight: $font-bold;
  color: $black;
  font-style: normal;
}

.dg_step-list__toggle-btn__btn-text {
  display: block;
}

.dg_step-list__show-all-btn {
  margin-bottom: $default-margin;
}

.dg_step-list__details {
  margin-top: $default-margin;
}
