.dg_step-list__toggle-btn__btn-text {
  //padding-top: $padding-larger;
  display: block;
}

.dg_step-list__show-all-btn {
  margin-bottom: $default-margin;
}

.dg_step-list__details {
  margin-top: $default-margin;
}

.dg_step-list__list {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 60px;
  margin-top: 0;

  & > li {
    border-bottom: $border-width-small solid $gray-light;
    margin-bottom: $default-margin;
    padding-bottom: $default-padding;
    counter-increment: my-awesome-counter;
    position: relative;

    &:first-child {
      border-top: $border-width-small solid $gray-light;
      padding-top: $default-padding;
    }

    /** The circle that comes before the step */
    &:before {
      background: $gold;
      border: $default-border-width solid $gold;
      content: counter(my-awesome-counter);
      font-weight: $font-bold;
      font-size: $h3-font-size;
      font-family: $default-heading-font;
      position: absolute;
      top: -5px;
      bottom: 0;
      left: -60px;
      height: 40px;
      width: 40px;
      line-height: 34px; /* Offset by the border width */
      border-radius: 50%;
      text-align: center;
      z-index: 4;
      @include default-transition;
    }

    /** The vertical line that connects each step circle */
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      width: 0;
      height: 100%;
      border-left: $default-border-width solid $gray-light;
      background: $white;
      left: -41px; /* I think this offset is being caused by the border width */
      top: 30px;
    }

    &:last-child:after {
      border: none;
    }

    &:first-child::before {
      top: 15px; /* manual configuration that was discovered through testing in the browser */
    }

    &.is-hovered:before {
      background: $vibrant-blue;
      border-color: $vibrant-blue;
      color: $white;
    }
  }
}

.dg_step-list__toggle-btn__title {
  margin-bottom: $margin-large;
  display: inline-block;
}

.dg_step-list__show-all-btn,
.dg_step-list__toggle-btn {
  cursor: pointer;
}

.dg_step-list__toggle-btn {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
}

.dg_step-list__toggle-btn__title {
  font-size: $base-font-size;
  font-family: $default-heading-font;
  font-weight: $font-bold;
  font-style: normal;
}

/* Static Step List */
.dg_step-list.static {
  .dg_step-list__toggle-btn {
    cursor: default;
  }

  .dg_step-list__toggle-btn__title {
    color: $black;
  }

  .dg_step-list__toggle-btn__btn-text,
  .dg_step-list__show-all-btn {
    display: none;
  }

  .dg_step-list__list > li::before {
    background: $white;
    border-color: $gray;
    color: $black;
  }
}
