.dg_summary-list {
  .dg_summary-list__item {
    display: flex;
    flex-wrap: nowrap;
    color: $gray;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: $default-margin;
    p {
      color: $gray;
    }
  }
  h3 {
    color: $black;
  }
  i {
    display: block;
   padding: 0 60px 0 0;
    width: $default-padding;
    text-align: center;
    font-size: $h1-font-size;

  }
  a {
    text-decoration: none;
    background-color: transparent;
    &:hover {
      text-decoration: underline;
    }
  }
}
