@mixin stacked-icon-layout {
  .dg_summary-list {
    .dg_summary-list__item {
      display: block;
      margin-bottom: $margin-larger;

      i,
      & > div {
        width: 100%;
      }

      i {
        margin-bottom: $default-margin;
        text-align: left;
      }
    }
  }
}

.dg_summary-list {
  background: $gray-lightest;
  padding: ($base-spacing-unit * 10) $padding-large; /* this spacing unit is only used in the summary list */

  .dg_summary-list__item {
    display: flex;
    flex-wrap: nowrap;
    color: $gray;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: $default-margin;

    p {
      color: $gray;
    }

    & > div {
      width: 75%;
    }
  }

  h3 {
    color: $black;
  }

  i {
    display: block;
    text-align: center;
    font-size: $h1-font-size;
    width: 25%;
  }

  a {
    text-decoration: none;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $large-breakpoint) {
  @include stacked-icon-layout;
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_summary-list {
    .dg_summary-list__item {
      display: flex;
      margin-bottom: $default-margin;

      & > div {
        width: 75%;
      }

      i {
        text-align: center;
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  @include stacked-icon-layout;
}
