/* BASIC TABLE STYLES */
.table {
  border: $border-width-small solid $gray-light;
  color: $gray-dark;
  font-family: $default-heading-font;
  font-size: $smallest-heading-font-size;
  margin-bottom: $default-margin;
  text-align: left;
  width: 100%;

  td {
    border-bottom: $border-width-small solid $gray-light;
    padding: $padding-large;
  }

  .td_overflow {
    max-width: $padding-small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  thead {
    th {
      background-color: $white;
      border-bottom: $border-width-large solid $blue;
      border-left: none;
    }
  }

  th {
    border-bottom: $border-width-small solid $gray-light;
    border-left: $border-width-large solid $blue;
    color: $black;
    font-family: $default-heading-font;
    font-size: $small-heading-font-size;
    font-weight: $font-medium;
    padding: $padding-large;
  }

  tr {
    &:nth-of-type(2n + 1) {
      background-color: $gray-lightest;
    }

    &:hover {
      background-color: $gold-lightest;
    }
  }
}
