.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.hasfocus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.list-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-width: 8rem;
}

.list-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 8rem;
  column-gap: 30px;
}

.list-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  column-width: 8rem;
}