.noaa {
  .SESyndicationModule {
    .feedDetails {
      h1 {
        display: none;
      }
    }
    ol,
    ul {
      &.feedItems {
        padding-left: 0px;
        list-style: none;
      }
    }
  }
}
