#dg_main-content,
.dg_sidebar__section {
  .noaa {
    .dg_weather-alerts-header {
      background-color: #002280;
      display: flex;
      flex-direction: row;
      font-family: "Montserrat", sans-serif;
      padding: 15px 20px 10px 20px;
      color: #ffffff;

      img {
        &.dg_noaa-image {
          height: 100%;
          width: 40px;
          max-width: 100%;
          margin-bottom: 0px;
          margin-right: 10px;
        }
      }

      .dg_weather-text-area {
        font-size: 16px;
        h2,
        h3,
        h4 {
          color: #ffffff;
          margin-bottom: 0px;
          line-height: 24px;
        }
      }
    }
    .SESyndicationModule {
      border: 1px solid #002280;
      padding: 10px 20px;
      .feedDetails {
        h1 {
          display: none;
        }
      }
      ol,
      ul {
        &.feedItems {
          padding-left: 0px;
          list-style: none;

          li {
            &.item {
              h3 {
                &.title {
                  font-family: "Crimson Text", serif;
                  font-size: 24px;
                  font-weight: inherit;
                  margin-bottom: 10px;
                  text-transform: none;
                }
              }
              .extras {
                .pubDate {
                  display: block;
                }
                .itemURL {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
