/* montserrat-300 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('/webfonts/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('/webfonts/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/montserrat-v14-latin-300.woff2') format('woff2'),
		url('/webfonts/montserrat-v14-latin-300.woff') format('woff'),
		url('/webfonts/montserrat-v14-latin-300.ttf') format('truetype'),
		url('/webfonts/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/webfonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('/webfonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/montserrat-v14-latin-regular.woff2') format('woff2'),
		url('/webfonts/montserrat-v14-latin-regular.woff') format('woff'),
		url('/webfonts/montserrat-v14-latin-regular.ttf') format('truetype'),
		url('/webfonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('/webfonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('/webfonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/montserrat-v14-latin-600.woff2') format('woff2'),
		url('/webfonts/montserrat-v14-latin-600.woff') format('woff'),
		url('/webfonts/montserrat-v14-latin-600.ttf') format('truetype'),
		url('/webfonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('/webfonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/webfonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/montserrat-v14-latin-700.woff2') format('woff2'),
		url('/webfonts/montserrat-v14-latin-700.woff') format('woff'),
		url('/webfonts/montserrat-v14-latin-700.ttf') format('truetype'),
		url('/webfonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* crimson-text-regular - latin */
@font-face {
	font-family: 'Crimson Text';
	font-style: normal;
	font-weight: 400;
	src: url('/webfonts/crimson-text-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
		url('/webfonts/crimson-text-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/crimson-text-v10-latin-regular.woff2') format('woff2'),
		url('/webfonts/crimson-text-v10-latin-regular.woff') format('woff'),
		url('/webfonts/crimson-text-v10-latin-regular.ttf') format('truetype'),
		url('/webfonts/crimson-text-v10-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600 - latin */
@font-face {
	font-family: 'Crimson Text';
	font-style: normal;
	font-weight: 600;
	src: url('/webfonts/crimson-text-v10-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
		url('/webfonts/crimson-text-v10-latin-600.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/crimson-text-v10-latin-600.woff2') format('woff2'),
		url('/webfonts/crimson-text-v10-latin-600.woff') format('woff'),
		url('/webfonts/crimson-text-v10-latin-600.ttf') format('truetype'),
		url('/webfonts/crimson-text-v10-latin-600.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600italic - latin */
@font-face {
	font-family: 'Crimson Text';
	font-style: italic;
	font-weight: 600;
	src: url('/webfonts/crimson-text-v10-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'),
		url('/webfonts/crimson-text-v10-latin-600italic.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/crimson-text-v10-latin-600italic.woff2') format('woff2'),
		url('/webfonts/crimson-text-v10-latin-600italic.woff') format('woff'),
		url('/webfonts/crimson-text-v10-latin-600italic.ttf') format('truetype'),
		url('/webfonts/crimson-text-v10-latin-600italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

$default-heading-font: "Montserrat", sans-serif;
$default-body-font: "Crimson Text", serif;
$font-awesome-free: 'Font Awesome 5 Free';
$font-awesome-pro: 'Font Awesome 5 Pro';

/** Font Sizes */
$base-font-size: 22px;

$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$small-heading-font-size: 18px;
$smallest-heading-font-size: 16px;
$smallest-font-size: 14px;

/** Font Weights */
$font-lightest: 300;
$font-light: 400;
$font-normal: 500;
$font-medium: 600;
$font-bold: 700;
