$default-icon-size: 1em;
$largest-icon-size: 4em;
$large-icon-size: 2em;
$small-icon-size: 0.75em;
$smallest-icon-size: 0.5em;

/* uses far fa-chevron- */
$arrow-down: "\f078";
$arrow-right: "\f054";
