$default-icon-size: 1em;
$largest-icon-size: 4em;
$large-icon-size: 2em;
$small-icon-size: 0.75em;
$smallest-icon-size: 0.5em;

/* uses far fa-chevron- */
$icon-arrow-down: "\f078";
$icon-arrow-right: "\f054";
$icon-arrow-link: "\f0a9";
$icon-asterisk: "\f069";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-check: "\F00C";
$icon-home: "\f015";
$icon-calendar: "\f073";
$icon-clock: "\f017";
$icon-download: "\f019";
$icon-share: "\f14d";
$icon-reminder: "\f849";
$icon-register: "\f234";
$icon-email: "\f0e0";
$icon-site-nav-default-size: 30px;
$icon-arrow-default-size: 24px;
