$default-icon-size: 1em;
$largest-icon-size: 4em;
$large-icon-size: 2em;
$small-icon-size: 0.75em;
$smallest-icon-size: 0.5em;

/* uses far fa-chevron- */
$icon-arrow-down: "\f078";
$icon-arrow-right: "\f054";
$icon-home: "\f015";
$icon-asterisk: "\f069";
$icon-arrow-default-size: 24px;
