$base-spacing-unit: 5px;

$default-padding: $base-spacing-unit;
$padding-large: $base-spacing-unit * 4;
$padding-smallest: $base-spacing-unit;

$default-margin: $base-spacing-unit;
$margin-largest: $base-spacing-unit * 10;
$margin-large: $base-spacing-unit * 6;
$margin-small: $base-spacing-unit * 2;
$margin-smallest: $base-spacing-unit;
