$base-spacing-unit: 5px;

$default-padding: $base-spacing-unit * 3;
$padding-jumbo: $base-spacing-unit * 12;
$padding-largest: $base-spacing-unit * 8;
$padding-larger: $base-spacing-unit * 6;
$padding-large: $base-spacing-unit * 4;
$padding-small: $base-spacing-unit * 2;
$padding-smallest: $base-spacing-unit;

$default-margin: $base-spacing-unit * 4;
$margin-largest: $base-spacing-unit * 10;
$margin-large: $base-spacing-unit * 6;
$margin-small: $base-spacing-unit * 2;
$margin-smallest: $base-spacing-unit;
