.sg_callout,
.bs-callout {
  padding: $padding-large;
  margin: $default-margin $default-margin $default-margin $margin-larger;
  border: $border-width-small solid $gray;
  border-left-width: $base-spacing-unit;

  &.blue {
    border: $border-width-small solid $blue-dark;
    border-left-width: $base-spacing-unit;
  }

  &.gold {
    border: $border-width-small solid $gold-light;
    border-left-width: $base-spacing-unit;
  }

  &.red {
    border: $border-width-small solid $red-dark;
    border-left-width: $base-spacing-unit;
  }

  &.vibrant-blue {
    border: $border-width-small solid $vibrant-blue;
    border-left-width: $base-spacing-unit;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .sg_callout,
  .bs-callout {
    a {
      word-break: break-all;
    }
  }
}
