pre {
  &.sg-code-ex {
    code {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      clear: both;
      color: #fff;
      background: #1b1b1b;
      padding: 0;
      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2;
      -ms-word-break: normal;
      word-break: normal;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      position: relative;
      line-height: 28px;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
