pre {
  &.dg-code-box {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    clear: both;
    color: $white;
    background: $gray-dark;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal; 
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;

    code {
      background: 0 0;
      white-space: pre;
      -webkit-overflow-scrolling: touch;
      overflow: hidden;
      overflow-x: scroll;
      display: block;
      max-width: 100%;
      min-width: 100px;
      font-size: $smallest-heading-font-size;
      padding: $default-padding $padding-large $padding-small $padding-large;
      line-height: 1.75;
    }

    &.dg-html {
      code {
        .tag {
          color: #a7d6f9;
        }

        .attribute {
          color: #f09800;
        }
      }
    }
  }
}