.dg_header {
  &.styleguide-header {
    border-top: none;
    .dg_brand {
      .header-seal {
        padding-left: $padding-large;
      }
      ul {
        &.styleguide-nav {
          display: flex;
          font-family: $default-heading-font;
          font-size: $smallest-heading-font-size;
          font-weight: $font-medium;
          list-style-type: none;
          margin-left: 20px;
        }
      }
    }
  }
}
