.dg_header {
  &.styleguide-header {
    border-top: none;
    padding-bottom: 10px;
    padding-top: 10px;

    .dg_brand {
      .header-seal {
        padding-left: $padding-large;

        img {
          max-width: 70px;
          padding-top: 10px;
        }
      }
      ul {
        &.styleguide-nav {
          display: flex;
          font-family: $default-heading-font;
          font-size: $smallest-heading-font-size;
          font-weight: $font-medium;
          list-style-type: none;
          padding-left: $padding-large;

          li {
            padding-right: $base-spacing-unit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dg_site-header {
    &.styleguide-header {
      justify-content: flex-start;
      .dg_brand {
        .dg_brand-text {
          padding: 0 20px;
        }
      }
    }
  }
}
