.styleguide-left-navigation {
  background-color: #f2f2f2;
  font-family: $default-heading-font;

  h3 {
    font-size: 16px;
    margin-bottom: 0px;
  }

  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;

    li {
      color: #666666;
      font-size: 16px;
      a {
        color: #666666;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .styleguide-left-navigation {
    display: none;
  }
}
