.styleguide-left-navigation {
  background-color: #f2f2f2;
  font-family: $default-heading-font;

  h3 {
    margin-bottom: 0px;
  }

  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;

    li {
      color: #666666;
    }
  }
}
