.dg_pg-tab {
    button {
        &.dg_tablinks {
            background-color: $gray;
            color: $white;
            font-family: $default-heading-font;
            font-weight: $font-bold;
            padding: $padding-small;
            text-transform: uppercase;

            &.active {
                background-color: $gray-dark;
            }
        }
    }
}

.dg_pgtabcontent {
    display: none;
}