.dg_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > * {
    padding: $default-padding !important;
    margin: 7.5px;
    width: 30%;
  }
}

.cssgrid {
  .dg_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: $default-margin;

    & > * {
      margin: 0;
      width: auto;
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .dg_grid {
    & > * {
      margin: $default-margin / 2;
      width: 45%;

      &.dg_icon-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: $padding-small;
      }

      &.dg_icon-link.dg_icon-link--large i {
        padding: $padding-small $default-padding $padding-small $padding-small;
        line-height: 1;
        height: auto;
        min-width: 75px;
        text-align: center;
        width: auto;
      }
    }
  }

  .cssgrid .dg_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: $small-breakpoint) {
  .dg_grid {
    & > * {
      margin: auto auto $default-margin;
      width: 100%;
    }
  }

  .cssgrid .dg_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
