$default-duration: 0.3s;
$default-timing-function: ease;

@mixin default-transition($properties...) {
  -webkit-transition: all $default-duration $default-timing-function;
  -moz-transition: all $default-duration $default-timing-function;
  -o-transition: all $default-duration $default-timing-function;
  transition: all $default-duration $default-timing-function;
  transition-property: $properties;
}
